nav{
    background-color: rgb(252, 216, 173);
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
nav img{
width: 100px;
}

header ul{
    position: relative;
    display: flex;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px
}
header ul li a{
    position: relative;
    text-decoration: none;
    border-radius: 0px;

}
footer{
    color: rgb(19, 21, 24);
    background-color:rgb(241, 224, 165)  ;
    padding: 9px;
    margin: none;
}
section article img{
    width: 200px;
}
section article .l{
 height: auto;
}
article {
    height: 500px;
    box-shadow: 0px 0px 10px 0px rgb(27, 27, 27);
    color: rgb(31, 25, 25);
    margin: 10px;
    background-color: rgb(235, 224, 176);
    text-align: center;
    width: 288px;
    position: relative;
    border: 5px solid rgb(211, 185, 128);
    padding: 12px;
    border-radius: 15px;
    
 display: inline-block;
}
section{
    background-color: rgb(243, 242, 200);
    
    width: 100%;
    text-align: center;
    display: inline-block;
    
    align-items: center;


}









