body{
    margin: 0;
    padding: 0;
}

nav{

    background-color: rgb(252, 216, 173);
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
nav img{
width: 100px;
}

header ul{
    position: relative;
    display: flex;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px
}
header ul li a{
    position: relative;
    text-decoration: none;
    border-radius: 0px;

}
footer{
    margin-top: 1px;
    color: rgb(19, 21, 24);
    background-color:rgb(241, 224, 165)  ;
    padding: 9px;
    margin: none;
    display: flex;
    justify-content: space-between;
}
section article img{
    width: 150px;
    
}
section article .l{
 height: auto;
}
article {
    height: 500px;
    box-shadow: 0px 0px 10px 0px rgb(27, 27, 27);
    color: rgb(31, 25, 25);
    margin: 10px;
    background-color: rgb(235, 224, 176);
    text-align: center;
    width: 288px;
    position: relative;
    border: 5px solid rgb(211, 185, 128);
    padding: 12px;
    border-radius: 15px;
    
 display: inline-block;
}
section{
    background-color: rgb(243, 242, 200);
    
    width: 100%;
    text-align: center;
    display: inline-block;
    
    align-items: center;


}

div  {
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 220px;
    width: 288px;
    position: relative;
}
div  p, img{
    position: absolute;
    top:20%;

}
.q{
    position: unset;
}
 .w{
    
    height: 60%;
    width: 70%;
}
.m{
    height: 589px;
    width: 1350px;
}
.e{
    position: unset;
}
.j{
    position: unset;
}
.ñ{
    justify-content: center;
    
   
    position: absolute;
    margin: 0px;
    height: auto;
    width: auto;

    
    

}
section .h{

    background-color: rgb(243, 242, 200);
    margin-bottom: 200px;
    width: 100%;
    text-align: center;
    display: flex;
    
    align-items: unset;

}
 .t{
    text-align: center;
    position: relative;
    height: 500px;
    width: 500px;
   
}
#nombre{
    margin-left: 200px;
    margin-top: 20px;
}
#fecha{
    margin-top: 20px;
    margin-left: 278px;
}
#animalavistado{
    margin-left: 160px;
    margin-top: 20px;
}
#descripción{
    margin-left: 190px;
    margin-top: 20px;
}    
#email{
    margin-top: 20px;
    margin-left: 200px;
}
#sumbit{
    margin-left: 340px;
    margin-top: 20px;
   
}
.a{
    justify-content: center;
    
   text-align: center;
    position: absolute;
    margin: 0px;
    height: auto;
    width: auto;
}







